body {
  border: 1px solid;
  padding: 10px;
  margin-right: auto;
  margin-left : auto;
}
h1 {
  text-align: center;
}
div {
  font-size: 15px;
}

@media screen and (min-width:480px) { 
  body {
    width: 450px;
  }
  h1 {
    font-size: 20px;
  }
}
@media screen and (min-width:768px) and ( max-width:1024px) {
  body {
    width: 550px;
  }
  h1 {
    font-size: 25px;
  }
}
@media screen and (min-width:1024px) {
  body {
    width: 550px;
  }
  h1 {
    font-size: 25px;
  }
}